{
  "env": {
    "browser": true,
    "es2021": true,
    "jest/globals": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "plugin:jsx-a11y/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "jsx-a11y", "jest"],
  "rules": {
    "no-console": "off",
    "linebreak-style": ["error", "windows"],
    "arrow-body-style":"off",
    "react/no-array-index-key":"off",
    "react/jsx-one-expression-per-line": "off",
    "no-unused-vars":"off",
    "react/prop-types":"off",
    "no-else-return":"off",
    "max-len":"off",
    "no-confusing-arrow":"off",
    "object-curly-newline":"off"
  }
}
