@import './variables/variables';

body {
  margin: 0;
  padding: 0;
  background-color: $blueBackground;
  color: $white;
}

.App {
  text-align: center;
}

.navbar {
  @include flex(center);
  font-family: $titleFont;
  padding: 0 20px 0 20px;
  a {
    color: $white;
    font-size: 20px;
    text-decoration: none;
    margin: 10px;
  }
}

h1,
h2 {
  font-family: $titleFont;
}

h3,
h4, 
p {
  font-family: $bodyFont;
}

.tableButton {
  @include Button($ligthOrange, $blueBackground);
}

.electionButton,
.waiterButton {
  @include Button($darkOrange, $white);
}

.menuContainer {
  @include flex(space-between);
  margin: 0% 5% 0% 5%;
  #menu,
  #order {
    background-color: $purpleBackground;
    border: none;
    border-radius: 8px;
    padding: 5%;
  }

  h2 {
    color: $ligthOrange;
  }
}

.active{
  border-style: solid;
  border-radius: 8px;
  padding: 5px;
  border-color: $ligthOrange; 
}