@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #071433;
  color: #e3deb8;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  text-align: center;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "Arvo", serif;
  padding: 0 20px 0 20px;
}

.navbar a {
  color: #e3deb8;
  font-size: 20px;
  text-decoration: none;
  margin: 10px;
}

.filter-btn {
  background-color: #071433;
  color: #e3deb8;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 8px;
}

h1,
h2 {
  font-family: "Arvo", serif;
}

h3,
h4,
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tableButton {
  width: 200px;
  height: 40px;
  background-color: #faab23;
  color: #071433;
  font-size: 25px;
  border: none;
  border-radius: 8px;
  margin: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.electionButton,
.waiterButton {
  width: 200px;
  height: 40px;
  background-color: #de432f;
  color: #e3deb8;
  font-size: 25px;
  border: none;
  border-radius: 8px;
  margin: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menuContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0% 5% 0% 5%;
}

.menuContainer #menu,
.menuContainer #order {
  background-color: #291a54;
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
}

.menuContainer #order {
  width: 40%;
  min-height: 100px;
}

.menuContainer h2 {
  color: #faab23;
}

.active {
  border-style: solid;
  border-radius: 8px;
  padding: 5px;
  border-color: #faab23;
}

#tableInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#firstHalfOrder {
  line-height: 1px;
}

#emptyOrder {
  color: #de432f;
}

#add {
  margin: 2px;
  background-color: transparent;
  color: #7c945b;
  border: none;
  font-size: 35px;
}

#deduct {
  margin: 2px;
  background-color: transparent;
  color: #de432f;
  border: none;
  font-size: 35px;
}

.addToOrder {
  width: 100px;
  height: 30px;
  background-color: #faab23;
  color: #071433;
  font-size: 15px;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  margin: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.eachItem {
  width: 100%;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.itemsInOrder {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.interactionWithOrder {
  width: auto;
  height: 30px;
  background-color: #de432f;
  color: #e3deb8;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  margin: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#eraseOrder {
  border: solid;
  border-color: #de432f;
  background-color: #291a54;
}

#tableOrders {
  width: 100%;
}

table,
th,
td {
  border-collapse: collapse;
  border: 3px solid #de432f;
  text-align: left;
}

tr:hover {
  background-color: #faab23;
  color: #071433;
}

#buttonPlace {
  text-align: center;
}

.waitingOrderButton {
  width: auto;
  height: 30px;
  background-color: #e3deb8;
  color: #071433;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 8px;
  border: 3px solid #071433;
  margin: 5px;
}

.doneOrderButton {
  background-color: #7c945b;
  color: #071433;
  width: auto;
  height: 30px;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 8px;
  border: 3px solid #071433;
  margin: 5px;
}
/*# sourceMappingURL=App.css.map */