@import './variables/variables';

body {
  margin: 0;
  padding: 0;
  background-color: $blueBackground;
  color: $white;
  font-family: $bodyFont;
}

.App {
  text-align: center;
}

.navbar {
  @include flex(center);
  font-family: $titleFont;
  padding: 0 20px 0 20px;
  a {
    color: $white;
    font-size: 20px;
    text-decoration: none;
    margin: 10px;
  }
}

.filter-btn {
  background-color: $blueBackground;
  color: $white;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 8px;
}

h1,
h2 {
  font-family: $titleFont;
}

h3,
h4,
p {
  font-family: $bodyFont;
}

.tableButton {
  @include Button($ligthOrange, $blueBackground);
}

.electionButton,
.waiterButton {
  @include Button($darkOrange, $white);
}

.menuContainer {
  @include flex(space-between);
  margin: 0% 5% 0% 5%;
  #menu,
  #order {
    background-color: $purpleBackground;
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
  }

  #order {
    width: 40%;
    min-height: 100px;
  }

  h2 {
    color: $ligthOrange;
  }
}

.active {
  border-style: solid;
  border-radius: 8px;
  padding: 5px;
  border-color: $ligthOrange;
}

#tableInfo {
  @include flex(space-between);
}
#firstHalfOrder {
  line-height: 1px;
}
#emptyOrder {
  color: $darkOrange;
}

#add {
  @include simbol($green);
}
#deduct {
  @include simbol($darkOrange);
}

.addToOrder {
  width: 100px;
  height: 30px;
  background-color: $ligthOrange;
  color: $blueBackground;
  font-size: 15px;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  margin: 5px;
  font-family: $bodyFont;
}

.eachItem {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.itemsInOrder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.interactionWithOrder {
  width: auto;
  height: 30px;
  background-color: $darkOrange;
  color: $white;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  margin: 5px;
  font-family: $bodyFont;
}

#eraseOrder {
  border: solid;
  border-color: $darkOrange;
  background-color: $purpleBackground;
}

#tableOrders {
  width: 100%;
}

table,
th,
td {
  border-collapse: collapse;
  border: 3px solid $darkOrange;
  text-align: left;
}

tr:hover {
  background-color: $ligthOrange;
  color: $blueBackground;
}
#buttonPlace{
  text-align: center;
}
.waitingOrderButton{
  width: auto;
  height: 30px;
  background-color: $white;
  color: $blueBackground;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 8px;
  border: 3px solid $blueBackground;
  margin: 5px;
}

.doneOrderButton{
  background-color: $green;
  color: $blueBackground;
  width: auto;
  height: 30px;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 8px;
  border: 3px solid $blueBackground;
  margin: 5px;
}