@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
// Colors
$blueBackground: #071433;
$purpleBackground: #291A54;
$white:#E3DEB8;
$ligthOrange: #FAAB23;
$darkOrange: #DE432F;

// Fonts
$bodyFont:  Verdana, Geneva, Tahoma, sans-serif;
$titleFont: 'Arvo', serif;

// helpers
@mixin Button($backgroundColor, $fontColor) {
  width: 200px;
  height: 40px;
  background-color: $backgroundColor;
  color: $fontColor;
  font-size: 25px;
  border: none;
  border-radius: 8px;
  margin: 5px;
  font-family: $bodyFont;
}

@mixin flex($content) {
  display: flex;
  justify-content: $content;
  align-items: center;
}


